.btn-space {
    margin-right: 5px;
    margin-top: 5px;
}

.sticky-side {
    /* position: -webkit-sticky; */
    position: sticky;
    top: 15%;
    z-index: 1020;
}

/* .stickier-side {
    position: sticky;
    top: 30%;
    z-index: 1020;
    display: block;
    display: inline;
} */

.head-pad {
    margin-bottom: 10px;
}

.rating {
  display: inline;
}

#album {
  margin-top: 10px;
}

.gif-holder {
  float: left;
  display: inline;
}

img {
    display: block;
}

/*#album {*/
/*  height: 500px;*/
/*  overflow-y: scroll;*/
/*}*/
